// --- COLORS ---

// PRIMARY
$color-primary: #853F55;
$color-secondary: #5F853F;
$color-special-key: #E2E6DF;

// BACKGROUND
$bg-color: #E2E6DF;
$bg-color-keyboard: #9A9496;
$bg-color-keys: #CDC3C6;
$bg-color-special-keys: #3B3B3B; //#9A9496;
$bg-color-textarea: #BEEE97;
